:root {
  --bg-color: #ffffff;
  --text-color: #1e293b;
  --primary-color: #e97c23;
}

body {
  background-image: url('/fundo/light.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
  transition: 0.3s ease;
}

.dark-mode {
  --bg-color: #000000f0;
  --text-color: #bfbfbf;
  --primary-color: #e97c23;

}

body.dark-mode {
  background-image: url('/fundo/dark.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
  transition: 0.3s ease;
}
