:root {
  --bg-color: #ffffff;
  --text-color: #1e293b;
  --primary-color: #e97c23;
}

.dark-mode {
  --bg-color: #000000f0;
  --text-color: #f1f5f9;
  --primary-color: #e97c23;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s ease;
}
