
html {
  scroll-behavior: smooth;
}

.card-hero {
  width: 100%;
  max-width: 80%;
  margin: 60px auto;

  border-radius: 25px;
  overflow: hidden;

  background-image:
    linear-gradient(90deg, #0ea4e962, #b863146b),
    url('/fundo/fundo.jpg');

  background-size: cover;
  background-position: center;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

  padding: 80px 40px;
  color: white;
  text-align: center;
}
